.actuality{
    a{
        color: rgb(46,104,128);
    }
    top:150px;
    width: 80%;
    margin: 30px auto 0; 
    display: flex;
    @media screen and (max-width:800px) {
        flex-direction: column;
        top: 80px;
    }
    .actualityScroll{

width: 60%;
@media screen and (max-width:1200px) {
    width: 100%;
    
}

.actualityContainer{
    margin-top: 30px;
    span{
        font-size: calc(14px + 0.4vw);
        font-style: italic;
        color:rgb(187,168,135) ;
    }
    .lineActuality{
        border: 1px solid rgba(234, 227, 219, 0.353);
        width: 90%;
        margin-top: 20px;
        // margin-left: 50px;
    }
    h2{
        font-size: calc(14px + 0.6vw);
        font-weight: 300;
        color:rgb(187,168,135) ;
    }
    h3{
        color: rgb(46,104,128);
        font-size: clamp(1rem, 2vw, 1.5rem);
    }
    h4{
        color: rgb(46,104,128);
        font-size: clamp(0.5rem, 2vw, 1rem);
        font-style: italic;
    }
    .actualityContent{
        display: flex;
        padding-top: 20px;
        @media screen and (max-width:1200px) {
            display: block;
            
        }
        .picturePaques{
            display: flex;
            width: 253px;
            flex-direction: column;
            align-items: center;
            
            img{
                // height: 200px;
                width: 250px;
            }
        }
        img{
            width: 40%;
            // object-fit: contain;
            @media screen and (max-width:1200px) {
                width: 80%;
            }
        }
        p{
            padding-left: 50px;
            font-size: calc(8px + 0.4vw);
            @keyframes colorChange {
                0% { color: rgb(46, 104, 128); } /* Couleur d'origine */
                25% { color: rgb(66, 124, 148); } /* Légèrement plus clair */
                50% { color: rgb(86, 144, 168); } /* Encore plus clair */
                75% { color: rgb(46, 104, 128); } /* Retour à la couleur d'origine */
                100% { color: rgb(46, 104, 128); } /* Boucle complète */
              }
              
              strong {
                font-size: calc(18px + 0.6vw);
                animation: colorChange 3s linear infinite; /* Durée de l'animation */
              }
            @media screen and (max-width:1200px) {
            padding-left: 0;
            padding-top: 10px;
            // width: 80%;
            }
            em{
                color: rgb(255, 0, 0);
            }
        }
    }
    
}
    }

    .actualityFix{
background: rgb(255, 255, 255);
width: 40%;
position: fixed;
left: 80%;
transform: translateX(-50%);
@media screen and (max-width:1200px) {
position: relative;
left: 0;
transform:translateX(0%);
width: 100%;
margin-top: 50px;
    
}
.lineNews{
        border: 1px solid rgba(234, 227, 219, 0.353);
        width: 100%;
        margin-top: 20px;
        // margin-left: 50px;
    }
h2{
    padding-left: 50px;
    padding-top: 10px;
}
.actualityNews{
    padding-top: 40px;
    display: flex;
    align-items: center;
    img{
        width: 110px;
        height: 50px;
        margin-left: 50px;
        box-shadow:5px 5px 15px 5px #c8bdbd ;
        padding: 5px;
    }
    p{
        padding: 20px;
        font-size: 12px;
    }
}

    }
}