.section1{
    .containerAbout{
        display: grid;
        grid-template-columns:50% 50%;
        gap: 25px;
     .back{
        background: url(./img/aPropos.jpg)no-repeat;
        height: 700px;
        position: relative;
        top: 100px;
        margin-left: 50px;
        filter: grayscale(100%);
        transition: 1.6s;
        &:hover {
            filter: grayscale(10%);
          }
    }
    
    .textAbout{
        height: 650px;
        position: relative;
        top: 100px;
        margin-right: 50px;
        p{
            margin:0 20px 20px 20px;
            color: black;
            line-height: 20px;
            
            span{
                color:rgb(46,104,128);
                font-weight: 700;
            }
        }
    }   
    }
    
    
}
.section2{
    background: rgb(250, 247, 247);
    margin-top: 90px;
    margin-bottom: 120px;
    .containerAbout2{
        display: grid;
        grid-template-columns:33% 33% 33%;
        gap: 25px;
     .img1{
        background:url(./img/JulienHermanWork.webp)center/cover;
        width: 90%;
        border-radius: 10px;
        margin-left: 90px;
        transition: 1s;
          }
          .img2{
            background: url(./img/julienConcours.jpg)center/cover;
            border-radius: 10px;
            margin-right: 90px;
            transition: 1s;
              }

    }
    
    .textAbout2{
        height: 550px;
        position: relative;
        margin-top: 90px;
        display: flex;
        
        align-items: center;
        p{
            margin: 20px;
            color: rgb(104, 98, 98);
            line-height: 35px;
            text-align: center;
            padding: 30px;
            font-size:calc(10px + 1vw)
            
            
        }
    }   
    } 
    main{
        .afterHeader{
            height: 8vh;
            background:rgb(46,104,128);
            position: relative;
            margin-top: 3.5%;
            display: flex;
            text-align: center;
            span{
                color: rgb(128, 173, 193);
            }
            
            h1{
            position: absolute;
            bottom: 16px;
            margin-left: 10%;
            color: white;
            font-size:calc(8px + 1.7vw);
            
            }
        }
    }