.dejSdt{
    a{
        color: rgb(46,104,128);
    }
    top:150px;
    position: relative;
    width: 80%;
    margin: 0 auto;    
    .dejContainer{
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 50px;
    .dejImg{
background: url(./img/salonDeThe/plateauPtdej-PhotoRoom.png)center/cover;
border-radius: 10px;
height: 600px;

    }
    .dejText{       
margin: 50px;
padding: 20px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
line-height: 25px;
flex-direction: column;
background-color: rgb(250,247,247);

.lineDej{
    border: solid 0.1px rgba(187, 168, 134, 0.25);
    width: 30%;
   margin-top: 10px;   
}
    }
}
    .sdtContainer{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 0 auto;
    .sdtImg{
background: url(./img/salonDeThe/DESSERTS-5S3A3130-WEB-V2-PhotoRoom.png-PhotoRoom.png)no-repeat;
background-size: contain;
height: 500px;
margin-top: 60px;


    }
    .sdtImg2{
        background: url(./img/salonDeThe/IMG_20240120_123601-removebg-preview.png)no-repeat;
        background-size: contain;
        border-radius: 10px;
height: 500px;
    }
    .sdtText{       
margin: 50px;
padding: 20px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
line-height: 25px;
flex-direction: column;
background-color: rgb(250,247,247);

.lineSdt{
    border: solid 0.1px rgba(187, 168, 134, 0.25);
    width: 30%;
   margin-top: 10px;   
}
    }
}
.photosSdt{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    // width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
    img{
        width: 90%;
        border-radius: 10px;
    }

}
}