.dejSdt{
    a{
        color: rgb(46,104,128);
    }
    top:150px;
    position: relative;
    width: 80%;
    margin: 0 auto; 
    @media screen and (max-width:775px) {
        top: 70px;
        width: 100%;
    }
    .dejContainer{
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 50px;
        margin: 0 auto;
        @media screen and (max-width:1450px) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 0;
        }
    .dejImg{
background: url(./img/salonDeThe/plateauPtdej-PhotoRoom.png)no-repeat;
background-size: contain;
border-radius: 10px;
height: 600px;
@media screen and (max-width:1350px) {
    height: 300px;
    width: 200px;
    margin: 0 auto;
}
    }
    .dejText{ 
        font-size: calc(8px + 0.4vw);      
margin: 50px;
padding: 20px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
line-height: 25px;
flex-direction: column;
background-color: rgb(250,247,247);
@media screen and (max-width:775px) {
    margin:  10px;
}

.lineDej{
    border: solid 0.1px rgba(187, 168, 134, 0.25);
    width: 30%;
   margin-top: 10px;   
}
    }
}
    .sdtContainer{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 50px auto;
        gap: 30px;
        @media screen and (max-width:1350px) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    .sdtImg{
background: url(./img/salonDeThe/DESSERTS-5S3A3130-WEB-V2-PhotoRoom.png-PhotoRoom65116.png)no-repeat;
background-size: contain;
@media screen and (max-width:1350px) {
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

    }
    .sdtImg2{
        background: url(./img/salonDeThe/sandwich12.webp)no-repeat;
        background-size: contain;
        border-radius: 10px;
// height: 500px;
@media screen and (max-width:1350px) {
    height: 250px;
    margin: 0 auto;
    width: 200px;
}
    }
    .sdtText{       
margin: 5px;
padding: 20px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
line-height: 25px;
flex-direction: column;
background-color: rgb(250,247,247);
font-size: calc(8px + 0.4vw);
.lineSdt{
    border: solid 0.1px rgba(187, 168, 134, 0.25);
    width: 30%;
   margin-top: 10px;   
}
    }
}
.photosSdt{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
    padding-bottom: 100px;
    @media screen and (max-width:775px) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 0px;
    }
    img{
        width: 90%;
        border-radius: 10px;
        margin: 10px auto;
       @media screen and (max-width:775px) {
        width: 70%;
        
        
       }
    }

}
}

.textSalon {
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    span{
        color: rgb(187,168,135);
        font-weight: 500;
    }

    p {
        padding: 20px;
        color: black;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .message{
        font-style: italic;
    }
}