.desserts{
    top:150px;
    position: relative;
        .dessertsInd{
            display: grid;
            grid-template-columns: 60% 40%;
            width: 80%;
            margin: 0 auto 90px;
            .dessertsPhotos{
                height: 60vh;
        background: url(./img/desserts.webp) center/cover;
        margin: 50px;
        border-radius: 10px;
    }
    .textDesserts{
text-align: center;
align-items: center;
display: flex;
p{
    padding: 20px;
    color: black;
    letter-spacing: 2px;
    line-height: 20px;
}
    }
        }
    
    
}