header{
    
    .actualityH {
  text-align: center;
  margin-bottom: 6%;
  padding: 0 5px;

  p {
    font-size: calc(7px + 0.4vw);
  }

  span {
    font-size: calc(10px + 0.8vw );
    color: #8B6F4E;
  }
}
strong.auteurs {
  color: rgb(46,104,128);
  font-size: calc(12px + 0.8vw);
  font-style: italic;
  /* autres styles signature */
}




}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 10px;
    transition: 0.3s;
    // transition pour effet scroll menu
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    



    @media(max-width:1030px) {
        // height: 7%;
        // padding-bottom: 20px;
       
    }

.logo{
    
   img {
        
        width: 11vw;
        margin-left: 20px;
        margin-top: 20px;
        @media(max-width:900px) {
            width:15vw;
        }

    } 
}
    



    .reseau-sociaux {
        width: 210px;
        display: flex;
        justify-content: space-evenly;
        


        a {
            font-size: 20px;
            padding: 5px;
        }

    }

.ulMenu{
        display: flex;
        width: 1250px;
        justify-content: space-around;
        align-items: center;

        li {
            position: relative;
            font-size: calc(7px + 0.3vw);
            
            &:hover #subMenu {
                display: block;
                
            }

            ul {
                position: absolute;
                
            }

            #subMenu {
                display: none;
                width: 260px;
                padding: 20px 0 5px 8px;
                background: rgb(255, 255, 255);
                line-height: 25px;
                
            }
        }
       
            
        }
        
        @media screen and (max-width:1370px){
            video.videoResponsive{
            margin-top: 50px;
            }
            .reseau-sociaux{
                margin-top: 20px;
                justify-content: center;
                
            }
        .ulMenu{
                display: flex;
                flex-direction: column;
                left: 0;
                position: absolute;
                top: 80px;
                background: rgb(46,104,128);
                width: 300px;
                border-radius: 5px;
                margin-left: -100%;
                transition: all 0.5s ease;
                .croix{
                    width: 20px;
                    right: 0;
                    top: 0;
                    margin: 20px;
                    position: absolute;
                    cursor: pointer;
                }
                li{
                    color: white;
                    padding: 10px;
                    width: 170px;
                    
                    #subMenu{
                        top: 0;
                        left: 0;
                        position: relative;
                        line-height: 10px;
                        width:225px;
                    }
                }
                

            }
            .menuBurger{
                display: block;
                cursor: pointer;
            }
            .mobileMenu{
            margin-left: 0;
        }
        }
    }
    .menuBurger{
        width: 30px;
        position: absolute;
        right:50%;
        display: none;
        margin-top: 20px;
        }


.video16by9 {
    display: block;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255);
    
    @media screen and (max-width:1370px){
    padding-top: 76.25%;
    }


}

video.videoResponsive {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 77%;
    width: 77%;
    border: 0;
    z-index: 1;
    

    
}
@media screen and (max-width:1370px){
        video.videoResponsive{
        margin-top: 20px;
        height: 100%;
        width: 100%;
        }
    }