.mainMentions{
    top:150px;
    position: relative;
 
    .afterHeader{
        height: 1.5vh;
        background:rgb(46,104,128);
        }
.mentionsLegales{
    height: 61vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .mentionsLegalesContainer{
        text-align-last: left;
        margin-top: 50px;
        border:1px solid rgb(226, 220, 220);
        line-height: 25px;
        font-size: 15px;
        span{
            font-weight:600;
        }
        
    }
   
}
@media screen and (max-width:800px) {
    top:70px;
}
}
