.mainPolitique{
    top:150px;
    position: relative;
    margin-bottom: 140px;
    
 .afterHeader{
    height: 1.5vh;
    background:rgb(46,104,128);
    }

.politiqueTitle{
    text-align: center;
   margin: 30px;
   h1{
    font-size: calc(10px + 1vw);
   }
}
    .politiqueContainer{
        margin: 30px;
        padding: 10px;
        min-width: 300px;
        border:1px solid rgb(226, 220, 220);
        line-height: 25px;
        font-size: 10px;
        
        span{
            font-weight:600;
        }
        
    }
   

@media screen and (max-width:800px) {
    top:70px;
}
}