section {
    h2 {
        margin-top: 20px;
        font-size: calc(20px + 0.2vw);
    }

    p {
        font-size: calc(7px + 0.4vw);
    }

    margin-top: 50px;
    margin-bottom: 50px;
    background: black;
    display: grid;
    grid-template-columns:50% 50%;

    .containerService {
        flex-direction: column;
        display: flex;
        align-items: center;
        background: black;

        .logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;

            .logoIcon {
                text-align: center;
                width: 25%;

                img {
                    width: 25%;
                    margin-bottom: 10px;
                }
            }

        }
    }

    .containerPayement {
        background: rgb(24, 23, 23);
        flex-direction: column;
        display: flex;
        align-items: center;


        .logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;
            .logoIcon {
                text-align: center;
                width: 25%;

                img {
                    width: 25%;
                    margin-bottom: 10px;
                }
            }

        }
    }

    @media (max-width:900px) {
        display: block;

        .containerPayement {}

        .containerService {}
    }
}