.prestaAnnexe {

    a {
        color: rgb(46, 104, 128);
    }

    top:150px;
    position: relative;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width:800px) {
        width: 100%;
        top: 80px;
    }

    .prestaContainerAnnexe {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 50px;

        @media screen and (max-width:800px) {
            padding: 10px 50px;
        }

        .prestaImgAnnexe1 {
            background: url(./img/salonDeThe/1.webp) ;
            background-size: cover;
            border-radius: 10px;
            align-items: center;
            display: flex;
            @media screen and (max-width:1350px) {
                height: 500px;
                background: url(./img/salonDeThe/1.webp) center/cover ;
            }

        }

        .prestaImgAnnexe2 {
            background: url(./img/salonDeThe/2.webp);
            background-size: cover;
            border-radius: 10px;
            image-rendering: auto;
            @media screen and (max-width:1350px) {
                height: 500px;
                background: url(./img/salonDeThe/2.webp) center/cover ;
            }

        }

        .prestaTextAnnexe {
            margin: 0 50px;
            padding: 20px 20px 0 20px;
            text-align: center;
            display: grid;
            align-items: center;
            justify-items: center;
            line-height: 25px;
            flex-direction: column;
            background-color: rgb(250, 247, 247);
            font-size: calc(8px + 0.3vw);
            h2{
                padding-bottom: 10px;
            }

            span {
                font-weight: 500;
                font-style: italic;
            }

            @media screen and (max-width:1350px) {
                margin: 20px auto;
                padding-bottom: 10px;
            }

            .linePrestaAnnexe {
                border: solid 0.1px rgba(187, 168, 134, 0.25);
                width: 30%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width:1350px) {
            display: block;
        }
    }

    .prestaContainerAnnexeColl {
        padding-bottom: 50px;
        
        

        .prestaImgAnnexeContainer {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
            margin: 0 auto;
            @media screen and (max-width:730px) {
                display: block;
                padding: 20px;
            }
            .prestaImgAnnexeColl1 {
                background: url(./img/dessertAssiette/1.webp);
                background-size: cover;
                border-radius: 10px;
                width: 480px;
                height: 400px;
                margin: 0 auto;

                @media screen and (max-width:1065px) {
                    width: 320px;
                    height: 266px;
                    margin: 10px auto;
                }
                

            }

            .prestaImgAnnexeColl2 {
                background: url(./img/dessertAssiette/2.webp);
                background-size: cover;
                border-radius: 10px;
                width: 480px;
                height: 400px;
                margin: 0 auto;
                @media screen and (max-width:1065px) {
                    width: 320px;
                    height: 266px;
                    margin: 10px auto;
                }

            }

            .prestaImgAnnexeColl3 {
                background: url(./img/dessertAssiette/3.webp);
                background-size: cover;
                border-radius: 10px;
                width: 480px;
                height: 400px;
                margin: 0 auto;
                @media screen and (max-width:1065px) {
                    width: 320px;
                    height: 266px;
                    margin: 10px auto;
                }

            }

            .prestaImgAnnexeColl4 {
                background: url(./img/dessertAssiette/4.webp);
                background-size: cover;
                border-radius: 10px;
                width: 480px;
                height: 400px;
                margin: 0 auto;

                @media screen and (max-width:1065px) {
                    width: 320px;
                    height: 266px;
                    margin: 10px auto;
                }

            }
        }


        .prestaTextAnnexeColl {
            margin: 30px 50px 30px;
            padding: 20px 20px 0 20px;
            text-align: center;
            display: grid;
            align-items: center;
            justify-items: center;
            line-height: 25px;
            flex-direction: column;
            background-color: rgb(250, 247, 247);
            font-size: calc(8px + 0.3vw);
            h2{
                margin-bottom: 20px;
            }

            span {
                font-weight: 500;
                font-style: italic;
            }

            @media screen and (max-width:1350px) {
                margin: 20px auto;
                padding-bottom: 10px;
            }

            .linePrestaAnnexeColl {
                border: solid 0.1px rgba(187, 168, 134, 0.25);
                width: 30%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width:1350px) {
            display: block;
        }
    }

   .prestaExt{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    @media screen and (max-width:1350px) {
        display: block;
    }
    .prestaExtText{
        margin: 30px 50px 30px;
            padding: 20px 20px 0 20px;
            text-align: center;
            display: grid;
            align-items: center;
            justify-items: center;
            line-height: 25px;
            background-color: rgb(250, 247, 247);
            font-size: calc(8px + 0.3vw);
            .linePrestaExtColl {
                border: solid 0.1px rgba(187, 168, 134, 0.25);
                width: 30%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
    }
    .prestaExtImg{
                background: url(./img/salonDeThe/prestaExt.webp);
                background-size: cover;
                border-radius: 10px;
                width: 550px;
                height: 550px;
                margin: 0 auto;
                p{
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    font-size: calc(8px + 0.6vw);
                }
                @media screen and (max-width:1065px) {
                    width: 320px;
                    height: 266px;
                    margin: 10px auto;
                }
    }
   }

   .giftCard{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    margin: 0 auto;
    article{
        margin: 0 50px;
            padding: 20px;
            text-align: center;
            align-items: center;
            justify-items: center;
            line-height: 25px;
            flex-direction: column;
            background-color: rgb(250, 247, 247);
            font-size: calc(8px + 0.3vw);
            h2{
                padding-bottom: 10px;
                font-size: 20px; 
            }
    }
    img{
width: 650px;
margin: 0 auto;
padding-top: 50px;
@media screen and (max-width:760px) {
    width: 350px;
}
   }
    }

}