section {
    h2 {
        margin-top: 20px;
        font-size: calc(20px + 0.2vw);
    }

    p {
        font-size: calc(7px + 0.4vw);
    }

    margin-top: 50px;
    margin-bottom: 50px;
    background: black;
    display: grid;
    grid-template-columns:50% 50%;

    .containerService {
        flex-direction: column;
        display: flex;
        align-items: center;
        background: black;
position: relative;
        .logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;

            .logoIcon {
                text-align: center;
                width: 25%;

                img {
                    width: 25%;
                    margin-bottom: 10px;
                }
            }

        }
    }

    .containerPayement {
        background: rgb(24, 23, 23);
        flex-direction: column;
        display: flex;
        align-items: center;
        position: relative;

        .logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;
            .logoIcon {
                text-align: center;
                width: 25%;

                img {
                    width: 25%;
                    margin-bottom: 10px;
                }
            }

        }
    }

    @media (max-width:900px) {
        display: block;

        .containerPayement {
            height: 120px;
        }

        .containerService {
            height: 130px;
        }
    }
}

// ------------Newsletter-------------------------//
.newsletter{
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/vanilleDessert.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    height:300px;
    display: flex;

    .newsletterContent{
        .blockContent{
            padding: 10px 0 10px 0;
            h2{
                font-size:calc(10px + 1.8vw);
            }
        }
        .newsletterForm{
            display: flex;
            height: 70%;
            align-items: center;
        }
        #email2{
            width: 260px;
            color: #000000;

        }
        
        

}
}