main {
    margin-bottom: 50px;
    position: relative;
    .vertical-line{
        border: 0.75vw solid rgb(46,104,128);
        border-radius: 15px;
        height:100%;
        right: 90%;
        position: absolute;
        
        
      }
      .vertical-line2{
        border: 0.75vw solid rgb(46,104,128);
        border-radius: 15px;
        height:100%;
        margin-right: 65px ;
        position: absolute;
        left: 92.5%;
        
      }
    .titre1, .titre2, .titre3, .titre4, .titre5, .titre6{
        text-transform: uppercase;
        font-size: calc(10px + 1.5vw);
        top:50%;  
        position:relative;
        // transition: 0.1s;
        z-index: 1;
        // opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
        
    }
        // margin-top: -6vh;
        @media screen and (max-width:800px){
            // margin-top: -14vh;
            
            
            }
    
      a{
        color: white;
    }

    .sectionPhotos1 {
        width: 70%;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        margin: auto;
        color: white;
        gap: 30px;
       
        @media screen and (max-width:800px){
            display: block;
            width: 60%;
            
            
            }

        .choux {
            width: 100%;
            position: relative;
            height: 43.5vh;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/Julien-Herman-and-Marcelline-Lechat.webp)center/cover;
            background-blend-mode: darken;
            box-shadow:0 1rem 3rem -1rem rgba(0,0,0,.7);
            
            @media screen and (max-width:800px){
                margin: 10px 0;
                
                }
        
            .hover-choux {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                
                // padding: 30px;

                /* Centrer le contenu */
                
               
                
            }

        }

        .choux:hover .hover-choux {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }

        .finger {
            
            width: 100%;
            position: relative;
            height: 43.5vh;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/desserts.webp)center/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            @media screen and (max-width:800px){
                margin: 10px 0;
                }
            .hover-finger {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                // padding: 30px;
                
                
            }

        }
}
        .finger:hover .hover-finger {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }
        // ---------------------------------------------------------------------------------------

.sectionPhotos2{
    width: 70%;
        display: grid;
        grid-template-columns: 60% 40%;
        justify-items: center;
        margin: auto;
        margin-top: 20px;
        gap: 30px;
        color: white;
        @media screen and (max-width:800px){
            display: block;
            width: 60%;
            }
    .presentation {
            width: 100%;
            position: relative;
            height: 43.5vh;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/gourmandise/IMG_20240119_203325-removebg-preview-_1_.webp)center/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            @media screen and (max-width:800px){
                margin: 10px 0;
                }
            .hover-presentation {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                // padding: 30px;

                
            }

        }

        .presentation:hover .hover-presentation {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }

        .realisation {
            // display: inline-block;
            width: 100%;
            position: relative;
            height: 43.5vh;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/magasin/viennoiserie.jpg)bottom/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            @media screen and (max-width:800px){
                margin: 10px 0;
                }
            .hover-realisation {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                // padding: 30px;

                
                
            }

        }

        .realisation:hover .hover-realisation {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }
}
        //-----------------------------------------------------------------------
        .sectionPhotos3{
            
            width: 70%;
                display: grid;
                grid-template-columns: 40% 60%;
                justify-items: center;
                margin:20px auto 0 ;
                gap: 30px;
                color: white;
                @media screen and (max-width:800px){
                    display: block;
                    width: 60%;
                    
                    }
            .dessertDeFete {
                    width: 100%;
                    position: relative;
                    height: 43.5vh;
                    border-radius:5px;
                    cursor: pointer;
                    background:rgba(93, 91, 91, 0.3) url(./img/façade/facade.webp)
                    center/cover;
                    background-blend-mode: darken;
                    box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
                    
                    @media screen and (max-width:800px){
                        margin: 10px 0;
                        }
                    .hover-dessertDeFete {
                        /* Positionnement du contenu hover */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius:5px;
                        /* Effets de transition */
                        opacity: 0;
                        /* On cache l'élément via son opacité */
                        transition: opacity 0.85s ease-in-out;
                        /* Effet de transition sur le hover */
        
                        /* Style du contenu hover */
                        background-color: rgba(0, 0, 0, 0.6);
                        /* Couleur par défaut */
                        color: white;
                        // padding: 30px;
        
                        
                    }
        
                }
        
                .dessertDeFete:hover .hover-dessertDeFete {
                    opacity: 1;
                    /* Lors du hover, on remet l'opacité à 1 */
                }
        
                .viennoiserie {
                    width: 100%;
                    position: relative;
                    height: 43.5vh;
                    border-radius:5px;
                    cursor: pointer;
                    background:rgba(93, 91, 91, 0.3) url(./img/gourmandise/ourson.webp)center/cover;
                    background-blend-mode: darken;
                    box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
                   
                    @media screen and (max-width:800px){
                        margin: 10px 0;
                        
                        }
                    .hover-viennoiserie {
                        /* Positionnement du contenu hover */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius:5px;
                        /* Effets de transition */
                        opacity: 0;
                        /* On cache l'élément via son opacité */
                        transition: opacity 0.85s ease-in-out;
                        /* Effet de transition sur le hover */
        
                        /* Style du contenu hover */
                        background-color: rgba(0, 0, 0, 0.6);
                        /* Couleur par défaut */
                        color: white;
                        // padding: 30px;
        
                        
                        
                    }
        
                }
        
                .viennoiserie:hover .hover-viennoiserie {
                    opacity: 1;
                    /* Lors du hover, on remet l'opacité à 1 */
                }
        }
        
        // 
    
} 

