main {
    
    h2{
        color: black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .sectionPhotos1 {
        width: 70%;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        padding-top: 20px;
        margin: auto;
        // margin-top: 70px;
        gap: 30px;

        .choux {
            width: 100%;
            position: relative;
            height: 400px;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/Julien-Herman-and-Marcelline-Lechat.webp)center/cover;
            background-blend-mode: darken;
            box-shadow:0 1rem 3rem -1rem rgba(0,0,0,.7);
        
            .hover-choux {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                
                padding: 30px;

                /* Centrer le contenu */
                
               
                
            }

        }

        .choux:hover .hover-choux {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }

        .finger {
            // display: inline-block;
            width: 100%;
            position: relative;
            height: 400px;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/desserts.jpg)center/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            .hover-finger {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                padding: 30px;

                
            }

        }
}
        .finger:hover .hover-finger {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }
        // ---------------------------------------------------------------------------------------

.sectionPhotos2{
    width: 70%;
        display: grid;
        grid-template-columns: 60% 40%;
        justify-items: center;
        padding-top: 10px;
        margin: auto;
        margin-top: 20px;
        gap: 30px;
    .presentation {
            width: 100%;
            position: relative;
            height: 400px;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/sphere\ myrtilles\ cassis.jpg)center/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            .hover-presentation {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                padding: 30px;

                
            }

        }

        .presentation:hover .hover-presentation {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }

        .realisation {
            // display: inline-block;
            width: 100%;
            position: relative;
            height: 400px;
            border-radius:5px;
            cursor: pointer;
            background:rgba(93, 91, 91, 0.3) url(./img/viennoiseries.jpg)center/cover;
            background-blend-mode: darken;
            box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
            .hover-realisation {
                /* Positionnement du contenu hover */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius:5px;
                /* Effets de transition */
                opacity: 0;
                /* On cache l'élément via son opacité */
                transition: opacity 0.85s ease-in-out;
                /* Effet de transition sur le hover */

                /* Style du contenu hover */
                background-color: rgba(0, 0, 0, 0.6);
                /* Couleur par défaut */
                color: white;
                padding: 30px;

                
                
            }

        }

        .realisation:hover .hover-realisation {
            opacity: 1;
            /* Lors du hover, on remet l'opacité à 1 */
        }
}
        //-----------------------------------------------------------------------
        .sectionPhotos3{
            
            width: 70%;
                display: grid;
                grid-template-columns: 40% 60%;
                justify-items: center;
                padding-top: 10px;
                margin: auto;
                margin-top: 20px;
                gap: 30px;
            .dessertDeFete {
                    width: 100%;
                    position: relative;
                    height: 400px;
                    border-radius:5px;
                    cursor: pointer;
                    background:rgba(93, 91, 91, 0.3) url(./img/comme\ un\ burger\,\ sucré.jpg)center/cover;
                    background-blend-mode: darken;
                    box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
                    .hover-dessertDeFete {
                        /* Positionnement du contenu hover */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius:5px;
                        /* Effets de transition */
                        opacity: 0;
                        /* On cache l'élément via son opacité */
                        transition: opacity 0.85s ease-in-out;
                        /* Effet de transition sur le hover */
        
                        /* Style du contenu hover */
                        background-color: rgba(0, 0, 0, 0.6);
                        /* Couleur par défaut */
                        color: white;
                        padding: 30px;
        
                        
                    }
        
                }
        
                .dessertDeFete:hover .hover-dessertDeFete {
                    opacity: 1;
                    /* Lors du hover, on remet l'opacité à 1 */
                }
        
                .viennoiserie {
                    // display: inline-block;
                    width: 100%;
                    position: relative;
                    height: 400px;
                    border-radius:5px;
                    cursor: pointer;
                    background:rgba(93, 91, 91, 0.3) url(./img/pieceMontee.jpg)center/cover;
                    background-blend-mode: darken;
                    box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,.7);
                    .hover-viennoiserie {
                        /* Positionnement du contenu hover */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius:5px;
                        /* Effets de transition */
                        opacity: 0;
                        /* On cache l'élément via son opacité */
                        transition: opacity 0.85s ease-in-out;
                        /* Effet de transition sur le hover */
        
                        /* Style du contenu hover */
                        background-color: rgba(0, 0, 0, 0.6);
                        /* Couleur par défaut */
                        color: white;
                        padding: 30px;
        
                        
                        
                    }
        
                }
        
                .viennoiserie:hover .hover-viennoiserie {
                    opacity: 1;
                    /* Lors du hover, on remet l'opacité à 1 */
                }
        }
        
        // 
    
}