@font-face {
    font-family: Orbitron;
    src: url(./Fonts/Orbitron-VariableFont_wght.ttf);
}
$font1:Orbitron,cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$font1;
    letter-spacing: 1px;
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        &:hover{
            color:rgb(46,104,128); 
            
        }
        
    }
    input,
  textarea:focus {
    outline-color: rgb(46,104,128);
    
  }
    
}
body{
    
    background: white;
    
    
    button{
        cursor: pointer;
    }
  
}
li{
    cursor: pointer;
    list-style: none;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    &:hover{
        color: rgb(46,104,128);
        &::after{
            content: "";
            background: rgb(191,174,142);
            height: 1px;
            position: absolute;
            display: block;
            animation: resize 0.5s;
            animation-fill-mode: forwards;
        }   
    }
}

i{
    color: rgb(0, 0, 0);
&:hover{
  color: rgb(46,104,128);  
}
}
@keyframes resize {
            0%{
                width: 0;
            }
            100%{
                width: 50px;
            }
            
        }