* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"barlow-italic", sans-serif;
}
li{
    cursor: pointer;
    list-style: none;
    letter-spacing: 1px;
    color: white;
    &:hover{
        color: rgb(46,104,128);
    }
}
i{
    color: white;
&:hover{
  color: rgb(46,104,128);  
}
}
