@font-face {
    font-family: azerty;
    src: url(./Fonts/bankgothicltbtlight.ttf);
}
$font1:azerty,cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$font1;
    color: white;
    letter-spacing: 2px;
    a{
        text-decoration: none;
    }
    input,
  textarea:focus {
    outline-color: rgb(46,104,128);
    
  }
    
}
body{
    
    background: white;
    .titre1, .titre2, .titre3, .titre4, .titre5, .titre6{
        text-transform: uppercase;
        font-size: calc(10px + 1.5vw);
        top:75%;  
        position:relative;
        transition: 1s;
        z-index: 1;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
        
    }
    
    button{
        cursor: pointer;
    }
  
}
li{
    cursor: pointer;
    list-style: none;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    &:hover{
        color: rgb(113, 184, 215);

    }
}
i{
    color: rgb(0, 0, 0);
&:hover{
  color: rgb(46,104,128);  
}
}
