@charset "UTF-8";
@font-face {
  font-family: azerty;
  src: url(./Fonts/bankgothicltbtlight.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: azerty, cursive;
  color: white;
  letter-spacing: 2px;
}
* a {
  text-decoration: none;
}
* input,
* textarea:focus {
  outline-color: rgb(46, 104, 128);
}

body {
  background: white;
}
body .titre1, body .titre2, body .titre3, body .titre4, body .titre5, body .titre6 {
  text-transform: uppercase;
  font-size: calc(10px + 1.5vw);
  top: 75%;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
body button {
  cursor: pointer;
}

li {
  cursor: pointer;
  list-style: none;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}
li:hover {
  color: rgb(113, 184, 215);
}

i {
  color: rgb(0, 0, 0);
}
i:hover {
  color: rgb(46, 104, 128);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 15%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
}
@media (max-width: 900px) {
  .menu {
    height: 4%;
  }
}
.menu img {
  margin: auto;
  width: 180px;
}
@media (max-width: 900px) {
  .menu img {
    width: 50px;
  }
}
.menu .reseau-sociaux {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .reseau-sociaux a {
  font-size: 1.5vw;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}
.menu ul li {
  font-size: calc(7px + 0.4vw);
}

.video16by9 {
  display: block;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
}

video.videoResponsive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 77%;
  width: 77%;
  border: 0;
  z-index: 1;
}

main h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
main .sectionPhotos1 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  padding-top: 20px;
  margin: auto;
  gap: 30px;
}
main .sectionPhotos1 .choux {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/Julien-Herman-and-Marcelline-Lechat.webp) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos1 .choux .hover-choux {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  padding: 30px;
  /* Centrer le contenu */
}
main .sectionPhotos1 .choux:hover .hover-choux {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos1 .finger {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/desserts.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos1 .finger .hover-finger {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .finger:hover .hover-finger {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 {
  width: 70%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  padding-top: 10px;
  margin: auto;
  margin-top: 20px;
  gap: 30px;
}
main .sectionPhotos2 .presentation {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/sphere\ myrtilles\ cassis.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos2 .presentation .hover-presentation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos2 .presentation:hover .hover-presentation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 .realisation {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/viennoiseries.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos2 .realisation .hover-realisation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos2 .realisation:hover .hover-realisation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  padding-top: 10px;
  margin: auto;
  margin-top: 20px;
  gap: 30px;
}
main .sectionPhotos3 .dessertDeFete {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/comme\ un\ burger\,\ sucré.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos3 .dessertDeFete .hover-dessertDeFete {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos3 .dessertDeFete:hover .hover-dessertDeFete {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 .viennoiserie {
  width: 100%;
  position: relative;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/pieceMontee.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
main .sectionPhotos3 .viennoiserie .hover-viennoiserie {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos3 .viennoiserie:hover .hover-viennoiserie {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

footer {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(245, 242, 242, 0.385);
}
footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
  width: 100%;
}
@media (max-width: 850px) {
  footer .info {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
  }
  footer .info .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  footer .info .logo img {
    width: 150px;
  }
}
footer .info .contactBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .info .contactBlock p {
  color: rgb(109, 100, 100);
  line-height: 1.5em;
  letter-spacing: 1px;
}
footer .logo img {
  width: 200px;
  margin-left: 100px;
  border-radius: 5px;
}
footer h2 {
  color: rgb(46, 104, 128);
  font-size: 2rem;
  line-height: 2em;
}
footer button {
  width: 180px;
  color: rgb(109, 100, 100);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
}
footer button:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

input[type=text],
textarea,
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 0.1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-color: rgb(115, 108, 108);
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(46, 104, 128);
  color: white;
}

.popup-content {
  /* Ajouter box-sizing */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 100%;
  position: absolute;
  height: 860px;
  /* redéfinition 400 + 2*20 */
  max-width: 500px;
  margin: 100px auto 50px;
  text-align: left;
}
.popup-content input, .popup-content textarea, .popup-content label {
  color: black;
}
.popup-content small {
  color: red;
}
.popup-content .popup-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  background: black;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
}
.popup-content h1 {
  color: rgb(46, 104, 128);
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  text-transform: uppercase;
  margin: 30px 0;
  letter-spacing: 5px;
  font-weight: 300;
}
.popup-content label {
  margin: 0 0 15px 0;
  width: 100%;
}
.popup-content textarea {
  resize: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  background: black;
  display: grid;
  grid-template-columns: 50% 50%;
}
section h2 {
  margin-top: 20px;
  font-size: calc(20px + 0.2vw);
}
section p {
  font-size: calc(7px + 0.4vw);
}
section .containerService {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}
section .containerService .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
section .containerService .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerService .logo .logoIcon img {
  width: 25%;
  margin-bottom: 10px;
}
section .containerPayement {
  background: rgb(24, 23, 23);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .containerPayement .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
section .containerPayement .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerPayement .logo .logoIcon img {
  width: 25%;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  section {
    display: block;
  }
  section .containerPayement {
    height: 120px;
  }
  section .containerService {
    height: 130px;
  }
}

.newsletter {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(./img/vanilleDessert.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/vanilleDessert.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.newsletter .newsletterContent .blockContent {
  padding: 10px 0 10px 0;
}
.newsletter .newsletterContent .blockContent h2 {
  font-size: calc(10px + 1.8vw);
}
.newsletter .newsletterContent .newsletterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter .newsletterContent #email2 {
  width: 260px;
  color: #000000;
}

.section1 .containerAbout {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 25px;
}
.section1 .containerAbout .back {
  background: url(./img/aPropos.jpg) no-repeat;
  height: 700px;
  position: relative;
  top: 100px;
  margin-left: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 1.6s;
  transition: 1.6s;
}
.section1 .containerAbout .back:hover {
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}
.section1 .containerAbout .textAbout {
  height: 650px;
  position: relative;
  top: 100px;
  margin-right: 50px;
}
.section1 .containerAbout .textAbout p {
  margin: 20px;
  color: black;
  line-height: 20px;
}
.section1 .containerAbout .textAbout p span {
  color: rgb(46, 104, 128);
  font-weight: 700;
}
.section1 .afterHeader {
  height: 160px;
  background: rgb(46, 104, 128);
  position: relative;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section1 .afterHeader span {
  color: rgb(128, 173, 193);
}
.section1 .afterHeader h1 {
  position: absolute;
  bottom: 16px;
  margin-left: 200px;
}

.section2 {
  background: rgb(250, 247, 247);
  margin-top: 90px;
}
.section2 .containerAbout2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 25px;
}
.section2 .containerAbout2 .img1 {
  background: url(./img/JulienHermanWork.webp) center/cover;
  width: 80%;
  border-radius: 10px;
  margin-left: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
.section2 .containerAbout2 .img2 {
  background: url(./img/julienConcours.jpg) top/cover;
  width: 80%;
  border-radius: 10px;
  margin-right: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
.section2 .textAbout2 {
  height: 550px;
  position: relative;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .textAbout2 p {
  margin: 20px;
  color: rgb(104, 98, 98);
  line-height: 35px;
  text-align: center;
  padding: 30px;
  font-size: calc(12px + 1vw);
}/*# sourceMappingURL=index.css.map */