@charset "UTF-8";
@font-face {
  font-family: Orbitron;
  src: url(./Fonts/Orbitron-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Orbitron, cursive;
  letter-spacing: 1px;
}
* ::-webkit-scrollbar {
  width: 16px;
}
* *::-webkit-scrollbar-track {
  background: #ffffff;
}
* *::-webkit-scrollbar-thumb {
  background-color: rgb(187, 168, 135);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
* a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
* a:hover {
  color: rgb(46, 104, 128);
}
* input,
* textarea:focus {
  outline-color: rgb(46, 104, 128);
}

body button {
  cursor: pointer;
}

li {
  cursor: pointer;
  list-style: none;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}
li:hover {
  color: rgb(46, 104, 128);
}
li:hover::after {
  content: "";
  background: rgb(191, 174, 142);
  height: 1px;
  position: absolute;
  display: block;
  -webkit-animation: resize 0.5s;
          animation: resize 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

i {
  color: rgb(0, 0, 0);
}
i:hover {
  color: rgb(46, 104, 128);
}

@-webkit-keyframes resize {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes resize {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}
header .actualityH {
  text-align: center;
  margin-bottom: 6%;
}
header .actualityH p {
  font-size: calc(10px + 0.4vw);
}
header .actualityH span {
  font-size: calc(35px + 0.1vw);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  color: rgb(191, 174, 142);
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
}
.menu .logo img {
  width: 11vw;
  margin-left: 20px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .menu .logo img {
    width: 15vw;
  }
}
.menu .reseau-sociaux {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.menu .reseau-sociaux a {
  font-size: 20px;
}
.menu .ulMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .ulMenu li {
  position: relative;
  font-size: calc(7px + 0.4vw);
}
.menu .ulMenu li:hover #subMenu {
  display: block;
}
.menu .ulMenu li ul {
  position: absolute;
}
.menu .ulMenu li #subMenu {
  display: none;
  width: 260px;
  padding: 20px 0 5px 8px;
  background: rgb(255, 255, 255);
  line-height: 25px;
}
@media screen and (max-width: 1370px) {
  .menu video.videoResponsive {
    margin-top: 50px;
  }
  .menu .reseau-sociaux {
    margin-top: 20px;
  }
  .menu .ulMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    position: absolute;
    top: 80px;
    background: rgb(46, 104, 128);
    width: 300px;
    border-radius: 5px;
    margin-left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu .ulMenu .croix {
    width: 20px;
    right: 0;
    top: 0;
    margin: 20px;
    position: absolute;
    cursor: pointer;
  }
  .menu .ulMenu li {
    color: white;
    padding: 10px;
    width: 170px;
  }
  .menu .ulMenu li #subMenu {
    top: 0;
    left: 0;
    position: relative;
    line-height: 10px;
    width: 225px;
  }
  .menu .menuBurger {
    display: block;
    cursor: pointer;
  }
  .menu .mobileMenu {
    margin-left: 0;
  }
}

.menuBurger {
  width: 30px;
  position: absolute;
  right: 50%;
  display: none;
  margin-top: 20px;
}

.video16by9 {
  display: block;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 1370px) {
  .video16by9 {
    padding-top: 76.25%;
  }
}

video.videoResponsive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 77%;
  width: 77%;
  border: 0;
  z-index: 1;
}

@media screen and (max-width: 1370px) {
  video.videoResponsive {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
}
main {
  margin-bottom: 50px;
  position: relative;
}
main .vertical-line {
  border: 0.75vw solid rgb(46, 104, 128);
  border-radius: 15px;
  height: 100%;
  right: 90%;
  position: absolute;
}
main .vertical-line2 {
  border: 0.75vw solid rgb(46, 104, 128);
  border-radius: 15px;
  height: 100%;
  margin-right: 65px;
  position: absolute;
  left: 92.5%;
}
main .titre1, main .titre2, main .titre3, main .titre4, main .titre5, main .titre6 {
  text-transform: uppercase;
  font-size: calc(10px + 1.5vw);
  top: 50%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
main a {
  color: white;
}
main .sectionPhotos1 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  margin: auto;
  color: white;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos1 .choux {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/Julien-Herman-and-Marcelline-Lechat.webp) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 .choux {
    margin: 10px 0;
  }
}
main .sectionPhotos1 .choux .hover-choux {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  /* Centrer le contenu */
}
main .sectionPhotos1 .choux:hover .hover-choux {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos1 .finger {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/desserts.webp) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 .finger {
    margin: 10px 0;
  }
}
main .sectionPhotos1 .finger .hover-finger {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
}
main .finger:hover .hover-finger {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 {
  width: 70%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  margin: auto;
  margin-top: 20px;
  gap: 30px;
  color: white;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos2 .presentation {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/sphere\ myrtilles\ cassis.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 .presentation {
    margin: 10px 0;
  }
}
main .sectionPhotos2 .presentation .hover-presentation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
}
main .sectionPhotos2 .presentation:hover .hover-presentation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 .realisation {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/magasin/viennoiserie.jpg) bottom/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 .realisation {
    margin: 10px 0;
  }
}
main .sectionPhotos2 .realisation .hover-realisation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
}
main .sectionPhotos2 .realisation:hover .hover-realisation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  margin: 20px auto 0;
  gap: 30px;
  color: white;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos3 .dessertDeFete {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/salonDeThe/DESSERTS-5S3A3130-WEB-V2.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 .dessertDeFete {
    margin: 10px 0;
  }
}
main .sectionPhotos3 .dessertDeFete .hover-dessertDeFete {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
}
main .sectionPhotos3 .dessertDeFete:hover .hover-dessertDeFete {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 .viennoiserie {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/pieceMontee.webp) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 .viennoiserie {
    margin: 10px 0;
  }
}
main .sectionPhotos3 .viennoiserie .hover-viennoiserie {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
}
main .sectionPhotos3 .viennoiserie:hover .hover-viennoiserie {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

footer {
  height: 350px;
  margin-top: 150px;
}
footer .lineFooter {
  border: 1px solid rgba(234, 227, 219, 0.456);
  width: 80%;
  margin: 0 auto;
}
footer .info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 850px) {
  footer .info {
    display: block;
    margin-top: 50px;
  }
  footer .info .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .info .logo .logoRef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
footer .info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 850px) {
  footer .info .contact {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .info .contact .contactBlock ul {
  margin: 5px 0 10px;
}
footer .info .contact .contactBlock ul a {
  display: block;
}
footer .info .contact .contactBlock p {
  color: rgb(47, 44, 44);
  line-height: 1.5em;
  font-size: calc(7px + 0.4vw);
}
footer .logo-julien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .logo-julien p {
  margin-bottom: 25px;
  color: rgb(46, 104, 128);
}
footer .logo-julien img {
  width: 220px;
}
footer .logo-julien .logoRef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .logo-julien .logoRef img {
  padding: 20px 20px 0;
  width: 110px;
  -webkit-animation: gelatine 3s infinite;
          animation: gelatine 3s infinite;
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.9, 1.05);
            transform: scale(0.9, 1.05);
  }
}
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.9, 1.05);
            transform: scale(0.9, 1.05);
  }
}
footer .questionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
footer .questionButton h2 {
  color: rgb(46, 104, 128);
  font-size: 2rem;
  line-height: 2em;
}
footer .questionButton button {
  width: 180px;
  color: rgb(109, 100, 100);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
}
footer .questionButton button:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .elementFooter .avisGoogle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}
footer .elementFooter .avisGoogle p {
  color: rgb(46, 104, 128);
  padding-bottom: 10px;
}
footer .elementFooter img {
  width: 130px;
  -webkit-animation: gelatine 3s infinite;
          animation: gelatine 3s infinite;
}
footer .elementFooter li {
  position: relative;
}
@media (max-width: 850px) {
  footer .elementFooter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

input[type=text],
textarea,
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 0.1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-color: rgb(115, 108, 108);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

input[type=submit]:hover {
  background-color: rgb(46, 104, 128);
  color: white;
}

.popup-content {
  /* Ajouter box-sizing */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 90%;
  position: absolute;
  height: 860px;
  /* redéfinition 400 + 2*20 */
  max-width: 500px;
  margin: 100px auto 50px;
  text-align: left;
}
.popup-content input, .popup-content textarea, .popup-content label {
  color: black;
}
.popup-content small {
  color: red;
  font-size: 10px;
}
.popup-content .popup-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  background: black;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
}
.popup-content h1 {
  color: rgb(46, 104, 128);
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  text-transform: uppercase;
  margin: 30px 0;
  letter-spacing: 5px;
  font-weight: 300;
}
.popup-content label {
  margin: 0 0 15px 0;
  width: 100%;
}
.popup-content textarea {
  resize: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}
section h2 {
  margin-top: 10px;
  font-size: calc(20px + 0.2vw);
  color: rgb(189, 171, 138);
}
section p {
  font-size: calc(7px + 0.4vw);
  color: rgb(189, 171, 138);
}
section .containerService {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(46, 104, 128);
  position: relative;
  border-radius: 10px;
  margin: 0 10px 10px;
}
section .containerService .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 5px;
}
section .containerService .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerService .logo .logoIcon img {
  width: 15%;
  margin-bottom: 5px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
section .containerPayement {
  background: rgb(46, 104, 128);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  margin: 0 10px 10px;
}
section .containerPayement .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 5px;
}
section .containerPayement .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerPayement .logo .logoIcon img {
  width: 15%;
  margin-bottom: 5px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
@media (max-width: 900px) {
  section {
    display: block;
  }
  section .containerPayement {
    height: 120px;
  }
  section .containerService {
    height: 130px;
  }
}

.mainAbout {
  top: 150px;
  position: relative;
}
.mainAbout .afterHeader {
  height: 8vh;
  background: rgb(46, 104, 128);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainAbout .afterHeader span {
  color: rgb(128, 173, 193);
}
.mainAbout .afterHeader h1 {
  bottom: 16px;
  margin-left: 10%;
  color: white;
  font-size: calc(8px + 1.7vw);
}
.mainAbout .section1 {
  padding-top: 50px;
}
.mainAbout .section1 .containerAbout {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 800px) {
  .mainAbout .section1 .containerAbout {
    display: block;
  }
}
.mainAbout .section1 .containerAbout .back {
  background: url(./img/aPropos.webp) center/cover;
  height: 70vh;
  position: relative;
  margin: 0 20px;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .mainAbout .section1 .containerAbout .back {
    height: 40vh;
  }
}
.mainAbout .section1 .containerAbout .back:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.mainAbout .section1 .containerAbout .textAbout {
  position: relative;
}
.mainAbout .section1 .containerAbout .textAbout p {
  margin: 0 20px 20px 20px;
  color: black;
  line-height: 20px;
}
@media screen and (max-width: 800px) {
  .mainAbout .section1 .containerAbout .textAbout p {
    padding-top: 10px;
  }
}
.mainAbout .section1 .containerAbout .textAbout p span {
  color: rgb(46, 104, 128);
  font-weight: 700;
}
.mainAbout .section2 {
  background: rgb(250, 247, 247);
  margin-top: 50px;
}
.mainAbout .section2 .containerAbout2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .mainAbout .section2 .containerAbout2 {
    display: block;
  }
}
.mainAbout .section2 .containerAbout2 .img1 {
  background: url(./img/JulienHermanWork.webp) center/cover;
  height: 70vh;
  padding: 20px;
  border-radius: 10px;
  margin-left: 90px;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}
@media screen and (max-width: 500px) {
  .mainAbout .section2 .containerAbout2 .img1 {
    height: 40vh;
  }
}
.mainAbout .section2 .containerAbout2 .img2 {
  background: url(./img/julienConcours.webp) no-repeat;
  background-size: contain;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  height: 70vh;
  position: relative;
}
@media screen and (max-width: 500px) {
  .mainAbout .section2 .containerAbout2 .img2 {
    height: 60vh;
  }
}
.mainAbout .section2 .textAbout2 {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}
@media screen and (max-width: 400px) {
  .mainAbout .section2 .textAbout2 {
    height: 400px;
  }
}
.mainAbout .section2 .textAbout2 p {
  color: rgb(104, 98, 98);
  line-height: 35px;
  text-align: center;
  padding: 30px;
  font-size: calc(10px + 1vw);
}
.mainAbout .section3 {
  background: rgb(250, 247, 247);
  margin-top: 90px;
  margin-bottom: 160px;
}
.mainAbout .section3 .containerAboutMarso {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 800px) {
  .mainAbout .section3 .containerAboutMarso {
    display: block;
  }
}
.mainAbout .section3 .containerAboutMarso .imgMarso {
  background: url(./img/marso.webp) center/cover;
  height: 70vh;
  border-radius: 10px;
  margin: 30px;
}
@media screen and (max-width: 800px) {
  .mainAbout .section3 .containerAboutMarso .imgMarso {
    margin: 30px;
  }
}
.mainAbout .section3 .containerAboutMarso .textAboutMarso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainAbout .section3 .containerAboutMarso .textAboutMarso p {
  margin: 20px;
  color: rgb(104, 98, 98);
  line-height: 35px;
  text-align: center;
  padding: 30px;
  font-size: calc(10px + 1vw);
}
@media screen and (max-width: 800px) {
  .mainAbout {
    top: 70px;
  }
}

.newsletter {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 221, 208, 0.829)), to(rgba(162, 150, 112, 0.8))), url(./img/IMG20230722074502.jpg);
  background-image: linear-gradient(rgba(217, 221, 208, 0.829), rgba(162, 150, 112, 0.8)), url(./img/IMG20230722074502.jpg);
  background-position: center;
  background-size: cover;
  color: #080808;
  padding: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.newsletter .newsletterContent .blockContent {
  padding: 10px 0 10px 0;
}
.newsletter .newsletterContent .blockContent p {
  font-size: calc(8px + 0.6vw);
  padding-bottom: 5px;
}
.newsletter .newsletterContent .blockContent h2 {
  font-size: calc(10px + 1.8vw);
  font-weight: normal;
}
.newsletter .newsletterContent .newsletterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter .newsletterContent .newsletterForm .checkbox {
  padding-bottom: 0.8%;
}
.newsletter .newsletterContent #email2 {
  width: 230px;
  color: #000000;
}

.mainMentions {
  top: 150px;
  position: relative;
}
.mainMentions .afterHeader {
  height: 1.5vh;
  background: rgb(46, 104, 128);
}
.mainMentions .mentionsLegales {
  height: 61vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainMentions .mentionsLegales .mentionsLegalesContainer {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 50px;
  border: 1px solid rgb(226, 220, 220);
  line-height: 25px;
  font-size: 15px;
}
.mainMentions .mentionsLegales .mentionsLegalesContainer span {
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .mainMentions {
    top: 70px;
  }
}

.mainPolitique {
  top: 150px;
  position: relative;
  margin-bottom: 140px;
}
.mainPolitique .afterHeader {
  height: 1.5vh;
  background: rgb(46, 104, 128);
}
.mainPolitique .politiqueTitle {
  text-align: center;
  margin: 30px;
}
.mainPolitique .politiqueTitle h1 {
  font-size: calc(10px + 1vw);
}
.mainPolitique .politiqueContainer {
  margin: 30px;
  padding: 10px;
  min-width: 300px;
  border: 1px solid rgb(226, 220, 220);
  line-height: 25px;
  font-size: 10px;
}
.mainPolitique .politiqueContainer span {
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .mainPolitique {
    top: 70px;
  }
}

.desserts {
  top: 150px;
  position: relative;
  padding-bottom: 90px;
}
@media screen and (max-width: 800px) {
  .desserts {
    top: 100px;
  }
}
.desserts .textDesserts {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 10px auto;
}
.desserts .textDesserts p {
  padding: 20px;
  color: black;
  letter-spacing: 2px;
  line-height: 25px;
}

.containerPhotos {
  width: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 950px) {
  .containerPhotos {
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
  }
}
.containerPhotos img {
  width: 90%;
}
.containerPhotos .containerPhotosTitle {
  text-align: center;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
}
.containerPhotos .containerPhotosTitle p {
  font-size: calc(10px + 0.5vw);
}
.containerPhotos .containerPhotosTitle .hoverDesserts {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid rgba(149, 137, 10, 0.107);
  opacity: 0;
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  background-color: rgba(249, 250, 252, 0.755);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.containerPhotos .containerPhotosTitle .hoverDesserts p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: calc(10px + 0.3vw);
}
.containerPhotos .containerPhotosTitle .hoverDesserts .reservation p {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: calc(15px + 0.5vw);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  color: rgb(46, 104, 128);
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.containerPhotosTitle:hover .hoverDesserts {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

.desserts h3 {
  text-align: center;
  padding: 50px 10px;
  color: rgb(187, 168, 135);
}

.gourmandises {
  top: 150px;
  position: relative;
  width: 85%;
  margin: 0 auto;
}
.gourmandises a {
  color: rgb(46, 104, 128);
}
@media screen and (max-width: 800px) {
  .gourmandises {
    width: 100%;
    top: 80px;
  }
}
.gourmandises .gourmandisesContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 50px;
}
@media screen and (max-width: 800px) {
  .gourmandises .gourmandisesContainer {
    padding: 10px 50px;
  }
}
.gourmandises .gourmandisesContainer .gourmandisesImg {
  background: url(./img/magasin/etagere.webp) no-repeat;
  background-size: contain;
  border-radius: 10px;
  height: 750px;
}
@media screen and (max-width: 1350px) {
  .gourmandises .gourmandisesContainer .gourmandisesImg {
    height: 400px;
  }
}
.gourmandises .gourmandisesContainer .gourmandisesText {
  margin: 50px;
  padding: 20px;
  text-align: center;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(250, 247, 247);
}
@media screen and (max-width: 1350px) {
  .gourmandises .gourmandisesContainer .gourmandisesText {
    margin: 20px auto;
    padding-bottom: 10px;
  }
}
.gourmandises .gourmandisesContainer .gourmandisesText .lineGour {
  border: solid 0.1px rgba(187, 168, 134, 0.25);
  width: 30%;
  margin-top: 10px;
}
@media screen and (max-width: 1350px) {
  .gourmandises .gourmandisesContainer {
    display: block;
  }
}
.gourmandises .containerPhotosGourmandises {
  width: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media screen and (max-width: 950px) {
  .gourmandises .containerPhotosGourmandises {
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0 50px;
    gap: 10px;
  }
}
.gourmandises .containerPhotosGourmandises img {
  width: 272px;
  height: 363px;
}
@media screen and (max-width: 700px) {
  .gourmandises .containerPhotosGourmandises img {
    width: 135px;
    height: 180px;
  }
}
.gourmandises .containerPhotosGourmandises .containerPhotosGourTitle {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .gourmandises .containerPhotosGourmandises .containerPhotosGourTitle {
    font-size: calc(6px + 0.4vw);
    padding-bottom: 0;
  }
}
.gourmandises .containerPhotosGourmandises .containerPhotosGourTitle .hoverGourmandises {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid rgb(215, 203, 203);
  opacity: 0;
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  background-color: rgba(214, 212, 212, 0.485);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gourmandises .containerPhotosGourmandises .containerPhotosGourTitle .hoverGourmandises p {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.gourmandises .containerPhotosGourmandises .containerPhotosGourTitle .hoverGourmandises .reservation p {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: calc(15px + 0.5vw);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  color: rgb(46, 104, 128);
}
.gourmandises .containerPhotosGourmandises .containerPhotosGourTitle:hover .hoverGourmandises {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

.viennoiseries {
  top: 150px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.viennoiseries a {
  color: rgb(46, 104, 128);
}
@media screen and (max-width: 800px) {
  .viennoiseries {
    width: 100%;
    top: 100px;
  }
}
.viennoiseries .viennoiseriesContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}
@media screen and (max-width: 950px) {
  .viennoiseries .viennoiseriesContainer {
    display: block;
  }
}
.viennoiseries .viennoiseriesContainer .viennoiseriesImg {
  background: url(./img/magasin/viennoiserie.jpg);
  background-size: contain;
  border-radius: 10px;
  width: 420px;
  height: 630px;
}
@media screen and (max-width: 950px) {
  .viennoiseries .viennoiseriesContainer .viennoiseriesImg {
    width: 280px;
    height: 420px;
    margin: 0 auto;
  }
}
.viennoiseries .viennoiseriesContainer .viennoiseriesText {
  margin: 50px;
  padding: 20px;
  text-align: center;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(250, 247, 247);
}
@media screen and (max-width: 950px) {
  .viennoiseries .viennoiseriesContainer .viennoiseriesText {
    margin-bottom: 30px;
    margin-top: 0;
  }
}
.viennoiseries .viennoiseriesContainer .viennoiseriesText .lineVienn {
  border: solid 0.1px rgba(187, 168, 134, 0.25);
  width: 30%;
  margin-top: 10px;
}
.viennoiseries .containerPhotosViennoiseries {
  width: 90%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media screen and (max-width: 950px) {
  .viennoiseries .containerPhotosViennoiseries {
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 50px;
    gap: 10px;
  }
}
.viennoiseries .containerPhotosViennoiseries img {
  width: 272px;
  height: 363px;
}
@media screen and (max-width: 700px) {
  .viennoiseries .containerPhotosViennoiseries img {
    width: 135px;
    height: 180px;
  }
}
.viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  .viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle {
    margin-top: 0;
  }
}
@media screen and (max-width: 700px) {
  .viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle p {
    font-size: calc(6px + 0.4vw);
  }
}
.viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle .hoverViennoiseries {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid rgba(149, 137, 10, 0.107);
  opacity: 0;
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  background-color: rgba(249, 250, 252, 0.755);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle .hoverViennoiseries .reservation p {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: calc(15px + 0.5vw);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  color: rgb(46, 104, 128);
}
.viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle .hoverViennoiseries p {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.viennoiseries .containerPhotosViennoiseries .containerPhotosViennTitle:hover .hoverViennoiseries {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

.dejSdt {
  top: 150px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.dejSdt a {
  color: rgb(46, 104, 128);
}
@media screen and (max-width: 775px) {
  .dejSdt {
    top: 70px;
    width: 100%;
  }
}
.dejSdt .dejContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 50px;
  margin: 0 auto;
}
@media screen and (max-width: 1450px) {
  .dejSdt .dejContainer {
    display: block;
    padding: 0;
  }
}
.dejSdt .dejContainer .dejImg {
  background: url(./img/salonDeThe/plateauPtdej-PhotoRoom.png) no-repeat;
  background-size: contain;
  border-radius: 10px;
  height: 600px;
}
@media screen and (max-width: 775px) {
  .dejSdt .dejContainer .dejImg {
    height: 300px;
    margin: 0 80px;
  }
}
.dejSdt .dejContainer .dejText {
  font-size: calc(8px + 0.4vw);
  margin: 50px;
  padding: 20px;
  text-align: center;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(250, 247, 247);
}
@media screen and (max-width: 775px) {
  .dejSdt .dejContainer .dejText {
    margin: 10px;
  }
}
.dejSdt .dejContainer .dejText .lineDej {
  border: solid 0.1px rgba(187, 168, 134, 0.25);
  width: 30%;
  margin-top: 10px;
}
.dejSdt .sdtContainer {
  display: grid;
  grid-template-columns: 30% 36% 30%;
  margin: 50px auto;
}
@media screen and (max-width: 1350px) {
  .dejSdt .sdtContainer {
    display: block;
    margin: 0;
  }
}
.dejSdt .sdtContainer .sdtImg {
  background: url(./img/salonDeThe/DESSERTS-5S3A3130-WEB-V2-PhotoRoom.png-PhotoRoom.png) no-repeat;
  background-size: contain;
  height: 500px;
  margin-top: 60px;
}
@media screen and (max-width: 775px) {
  .dejSdt .sdtContainer .sdtImg {
    height: 300px;
    margin-top: 0;
  }
}
.dejSdt .sdtContainer .sdtImg2 {
  background: url(./img/salonDeThe/IMG_20240120_123601-removebg-preview.png);
  background-size: contain;
  border-radius: 10px;
  height: 500px;
}
@media screen and (max-width: 775px) {
  .dejSdt .sdtContainer .sdtImg2 {
    height: 300px;
    margin: 0 20px;
    margin-bottom: 40px;
  }
}
.dejSdt .sdtContainer .sdtText {
  margin: 5px;
  padding: 20px;
  text-align: center;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(250, 247, 247);
  font-size: calc(8px + 0.4vw);
}
.dejSdt .sdtContainer .sdtText .lineSdt {
  border: solid 0.1px rgba(187, 168, 134, 0.25);
  width: 30%;
  margin-top: 10px;
}
.dejSdt .photosSdt {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media screen and (max-width: 775px) {
  .dejSdt .photosSdt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-bottom: 0px;
  }
}
.dejSdt .photosSdt img {
  width: 90%;
  border-radius: 10px;
  margin: 10px auto;
}
@media screen and (max-width: 775px) {
  .dejSdt .photosSdt img {
    width: 70%;
  }
}

.actuality {
  top: 150px;
  width: 80%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.actuality a {
  color: rgb(46, 104, 128);
}
@media screen and (max-width: 800px) {
  .actuality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 80px;
  }
}
.actuality .actualityScroll {
  width: 60%;
}
@media screen and (max-width: 1200px) {
  .actuality .actualityScroll {
    width: 100%;
  }
}
.actuality .actualityScroll .actualityContainer {
  margin-top: 30px;
}
.actuality .actualityScroll .actualityContainer span {
  font-size: calc(6px + 0.4vw);
  font-style: italic;
  color: rgb(187, 168, 135);
}
.actuality .actualityScroll .actualityContainer .lineActuality {
  border: 1px solid rgba(234, 227, 219, 0.353);
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
}
.actuality .actualityScroll .actualityContainer h2 {
  font-size: calc(10px + 0.6vw);
}
.actuality .actualityScroll .actualityContainer .actualityContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
@media screen and (max-width: 1200px) {
  .actuality .actualityScroll .actualityContainer .actualityContent {
    display: block;
  }
}
.actuality .actualityScroll .actualityContainer .actualityContent img {
  width: 40%;
}
@media screen and (max-width: 1200px) {
  .actuality .actualityScroll .actualityContainer .actualityContent img {
    width: 80%;
  }
}
.actuality .actualityScroll .actualityContainer .actualityContent p {
  padding-left: 50px;
  font-size: calc(8px + 0.5vw);
}
@media screen and (max-width: 1200px) {
  .actuality .actualityScroll .actualityContainer .actualityContent p {
    padding-left: 0;
  }
}
.actuality .actualityFix {
  background: rgb(250, 250, 250);
  width: 40%;
  position: fixed;
  left: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 1200px) {
  .actuality .actualityFix {
    position: relative;
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
    margin-top: 50px;
  }
}
.actuality .actualityFix .lineNews {
  border: 1px solid rgba(234, 227, 219, 0.353);
  width: 100%;
  margin-top: 20px;
}
.actuality .actualityFix h2 {
  padding-left: 50px;
  padding-top: 10px;
}
.actuality .actualityFix .actualityNews {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actuality .actualityFix .actualityNews img {
  width: 110px;
  height: 50px;
  margin-left: 50px;
  -webkit-box-shadow: 5px 5px 15px 5px #c8bdbd;
          box-shadow: 5px 5px 15px 5px #c8bdbd;
  padding: 5px;
}
.actuality .actualityFix .actualityNews p {
  padding: 20px;
  font-size: 12px;
}

#popup-overlayResa {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

input[type=text],
textarea,
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 0.1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-color: rgb(115, 108, 108);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

input[type=submit]:hover {
  background-color: rgb(46, 104, 128);
  color: white;
}

.popup-contentResa {
  /* Ajouter box-sizing */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 90%;
  position: absolute;
  height: 760px;
  /* redéfinition 400 + 2*20 */
  max-width: 500px;
  margin: 100px auto 50px;
  text-align: left;
}
.popup-contentResa input, .popup-contentResa textarea, .popup-contentResa label {
  color: black;
}
.popup-contentResa small {
  color: red;
  font-size: 10px;
}
.popup-contentResa .popup-exitResa {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  background: black;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
}
.popup-contentResa h1 {
  color: rgb(46, 104, 128);
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  text-transform: uppercase;
  margin: 30px 0;
  letter-spacing: 5px;
  font-weight: 300;
}
.popup-contentResa label {
  margin: 0 0 15px 0;
  width: 100%;
}
.popup-contentResa textarea {
  resize: none;
}/*# sourceMappingURL=index.css.map */