@charset "UTF-8";
@font-face {
  font-family: Orbitron;
  src: url(./Fonts/Orbitron-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Orbitron, cursive;
  letter-spacing: 1px;
}
* a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
* a:hover {
  color: rgb(46, 104, 128);
}
* input,
* textarea:focus {
  outline-color: rgb(46, 104, 128);
}

body {
  background: white;
}
body .titre1, body .titre2, body .titre3, body .titre4, body .titre5, body .titre6 {
  text-transform: uppercase;
  font-size: calc(10px + 1.5vw);
  top: 75%;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
body button {
  cursor: pointer;
}

li {
  cursor: pointer;
  list-style: none;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}
li:hover {
  color: rgb(46, 104, 128);
}
li:hover::after {
  content: "";
  background: rgb(191, 174, 142);
  height: 1px;
  position: absolute;
  display: block;
  -webkit-animation: resize 0.5s;
          animation: resize 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

i {
  color: rgb(0, 0, 0);
}
i:hover {
  color: rgb(46, 104, 128);
}

@-webkit-keyframes resize {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes resize {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}
header .actuality {
  text-align: center;
}
header .actuality p {
  font-size: calc(10px + 0.4vw);
}
header .actuality span {
  font-size: calc(35px + 0.1vw);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  color: rgb(191, 174, 142);
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 15%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
}
@media (max-width: 1030px) {
  .menu {
    height: 7%;
    padding-bottom: 20px;
  }
}
.menu .logo img {
  width: 11vw;
  margin-left: 20px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .menu .logo img {
    width: 15vw;
  }
}
.menu .reseau-sociaux {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.menu .reseau-sociaux a {
  font-size: 20px;
}
.menu .ulMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu .ulMenu li {
  position: relative;
  font-size: calc(7px + 0.4vw);
}
.menu .ulMenu li:hover #subMenu {
  display: block;
}
.menu .ulMenu li ul {
  position: absolute;
}
.menu .ulMenu li #subMenu {
  display: none;
  width: 290px;
  padding: 20px 0 5px 8px;
  background: rgb(255, 255, 255);
  line-height: 30px;
}
@media screen and (max-width: 1370px) {
  .menu video.videoResponsive {
    margin-top: 50px;
  }
  .menu .reseau-sociaux {
    margin-top: 20px;
  }
  .menu .ulMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 10px;
    position: absolute;
    top: 100px;
    background: rgb(46, 104, 128);
    width: 300px;
    border-radius: 5px;
    margin-left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu .ulMenu .croix {
    width: 20px;
    right: 0;
    top: 0;
    margin: 20px;
    position: absolute;
    cursor: pointer;
  }
  .menu .ulMenu li {
    color: white;
    padding: 10px;
  }
  .menu .ulMenu li #subMenu {
    top: 0;
    position: relative;
    line-height: 10px;
  }
  .menu .menuBurger {
    display: block;
    cursor: pointer;
  }
  .menu .mobileMenu {
    margin-left: 0;
  }
}

.menuBurger {
  width: 30px;
  position: absolute;
  right: 50%;
  display: none;
  margin-top: 20px;
}

.video16by9 {
  display: block;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 1370px) {
  .video16by9 {
    padding-top: 76.25%;
  }
}

video.videoResponsive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 77%;
  width: 77%;
  border: 0;
  z-index: 1;
}

@media screen and (max-width: 1370px) {
  video.videoResponsive {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
}
main {
  margin-top: -10vh;
}
main .vertical-line {
  border: 0.75vw solid rgb(46, 104, 128);
  border-radius: 15px;
  height: 100%;
  right: 90%;
  position: absolute;
}
main .vertical-line2 {
  border: 0.75vw solid rgb(46, 104, 128);
  border-radius: 15px;
  height: 100%;
  margin-right: 65px;
  position: absolute;
  left: 92%;
}
main a {
  color: white;
}
main .sectionPhotos1 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  margin: auto;
  color: white;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos1 .choux {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/Julien-Herman-and-Marcelline-Lechat.webp) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 .choux {
    margin: 10px 0;
  }
}
main .sectionPhotos1 .choux .hover-choux {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  padding: 30px;
  /* Centrer le contenu */
}
main .sectionPhotos1 .choux:hover .hover-choux {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos1 .finger {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/desserts.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos1 .finger {
    margin: 10px 0;
  }
}
main .sectionPhotos1 .finger .hover-finger {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .finger:hover .hover-finger {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 {
  width: 70%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  margin: auto;
  margin-top: 20px;
  gap: 30px;
  color: white;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos2 .presentation {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/sphere\ myrtilles\ cassis.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 .presentation {
    margin: 10px 0;
  }
}
main .sectionPhotos2 .presentation .hover-presentation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos2 .presentation:hover .hover-presentation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos2 .realisation {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/viennoiseries.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos2 .realisation {
    margin: 10px 0;
  }
}
main .sectionPhotos2 .realisation .hover-realisation {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos2 .realisation:hover .hover-realisation {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  margin: 20px auto 0;
  gap: 30px;
  color: white;
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 {
    display: block;
    width: 60%;
  }
}
main .sectionPhotos3 .dessertDeFete {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/salonDeThe/DESSERTS-5S3A3130-WEB-V2.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 .dessertDeFete {
    margin: 10px 0;
  }
}
main .sectionPhotos3 .dessertDeFete .hover-dessertDeFete {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos3 .dessertDeFete:hover .hover-dessertDeFete {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}
main .sectionPhotos3 .viennoiserie {
  width: 100%;
  position: relative;
  height: 43.5vh;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(93, 91, 91, 0.3) url(./img/pieceMontee.jpg) center/cover;
  background-blend-mode: darken;
  -webkit-box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  main .sectionPhotos3 .viennoiserie {
    margin: 10px 0;
  }
}
main .sectionPhotos3 .viennoiserie .hover-viennoiserie {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* Effets de transition */
  opacity: 0;
  /* On cache l'élément via son opacité */
  -webkit-transition: opacity 0.85s ease-in-out;
  transition: opacity 0.85s ease-in-out;
  /* Effet de transition sur le hover */
  /* Style du contenu hover */
  background-color: rgba(0, 0, 0, 0.6);
  /* Couleur par défaut */
  color: white;
  padding: 30px;
}
main .sectionPhotos3 .viennoiserie:hover .hover-viennoiserie {
  opacity: 1;
  /* Lors du hover, on remet l'opacité à 1 */
}

footer {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}
footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 850px) {
  footer .info {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
  }
  footer .info .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .info .logo .logoRef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
footer .info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 850px) {
  footer .info .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .info .contact .contactBlock ul {
  margin-top: 5px;
}
footer .info .contact .contactBlock ul a {
  display: block;
}
footer .info .contact .contactBlock p {
  color: rgb(47, 44, 44);
  line-height: 1.5em;
  font-size: calc(7px + 0.4vw);
}
footer .logo-julien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .logo-julien p {
  margin-bottom: 15px;
  color: rgb(46, 104, 128);
}
footer .logo-julien img {
  width: 220px;
}
footer .logo-julien .logoRef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .logo-julien .logoRef img {
  padding: 20px 20px 0;
  width: 110px;
  -webkit-animation: gelatine 3s infinite;
          animation: gelatine 3s infinite;
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.9, 1.05);
            transform: scale(0.9, 1.05);
  }
}
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.9, 1.05);
            transform: scale(0.9, 1.05);
  }
}
footer .questionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .questionButton h2 {
  color: rgb(46, 104, 128);
  font-size: 2rem;
  line-height: 2em;
}
footer .questionButton button {
  width: 180px;
  color: rgb(109, 100, 100);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
footer .questionButton button:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .elementFooter {
  margin-top: 25px;
}
footer .elementFooter .avisGoogle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .elementFooter .avisGoogle p {
  color: rgb(46, 104, 128);
}
footer .elementFooter img {
  width: 130px;
  -webkit-animation: gelatine 3s infinite;
          animation: gelatine 3s infinite;
}
footer .elementFooter li {
  position: relative;
}
@media (max-width: 850px) {
  footer .elementFooter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

input[type=text],
textarea,
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 0.1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-color: rgb(115, 108, 108);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

input[type=submit]:hover {
  background-color: rgb(46, 104, 128);
  color: white;
}

.popup-content {
  /* Ajouter box-sizing */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 100%;
  position: absolute;
  height: 860px;
  /* redéfinition 400 + 2*20 */
  max-width: 500px;
  margin: 100px auto 50px;
  text-align: left;
}
.popup-content input, .popup-content textarea, .popup-content label {
  color: black;
}
.popup-content small {
  color: red;
}
.popup-content .popup-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  background: black;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
}
.popup-content h1 {
  color: rgb(46, 104, 128);
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  text-transform: uppercase;
  margin: 30px 0;
  letter-spacing: 5px;
  font-weight: 300;
}
.popup-content label {
  margin: 0 0 15px 0;
  width: 100%;
}
.popup-content textarea {
  resize: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}
section h2 {
  margin-top: 10px;
  font-size: calc(20px + 0.2vw);
  color: rgb(189, 171, 138);
}
section p {
  font-size: calc(7px + 0.4vw);
  color: rgb(189, 171, 138);
}
section .containerService {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(46, 104, 128);
  position: relative;
  border-radius: 10px;
  margin: 0 10px 10px;
}
section .containerService .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 5px;
}
section .containerService .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerService .logo .logoIcon img {
  width: 15%;
  margin-bottom: 5px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
section .containerPayement {
  background: rgb(46, 104, 128);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  margin: 0 10px 10px;
}
section .containerPayement .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 5px;
}
section .containerPayement .logo .logoIcon {
  text-align: center;
  width: 25%;
}
section .containerPayement .logo .logoIcon img {
  width: 15%;
  margin-bottom: 5px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
@media (max-width: 900px) {
  section {
    display: block;
  }
  section .containerPayement {
    height: 120px;
  }
  section .containerService {
    height: 130px;
  }
}

.section1 .containerAbout {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 25px;
}
.section1 .containerAbout .back {
  background: url(./img/aPropos.jpg) no-repeat;
  height: 700px;
  position: relative;
  top: 100px;
  margin-left: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 1.6s;
  transition: 1.6s;
}
.section1 .containerAbout .back:hover {
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}
.section1 .containerAbout .textAbout {
  height: 650px;
  position: relative;
  top: 100px;
  margin-right: 50px;
}
.section1 .containerAbout .textAbout p {
  margin: 0 20px 20px 20px;
  color: black;
  line-height: 20px;
}
.section1 .containerAbout .textAbout p span {
  color: rgb(46, 104, 128);
  font-weight: 700;
}
.section1 .afterHeader {
  height: 70px;
  background: rgb(46, 104, 128);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section1 .afterHeader span {
  color: rgb(128, 173, 193);
}
.section1 .afterHeader h1 {
  position: absolute;
  bottom: 16px;
  margin-left: 200px;
  color: white;
}

.section2 {
  background: rgb(250, 247, 247);
  margin-top: 90px;
}
.section2 .containerAbout2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 25px;
}
.section2 .containerAbout2 .img1 {
  background: url(./img/JulienHermanWork.webp) center/cover;
  width: 90%;
  border-radius: 10px;
  margin-left: 90px;
  -webkit-transition: 1s;
  transition: 1s;
}
.section2 .containerAbout2 .img2 {
  background: url(./img/julienConcours.jpg) center/cover;
  border-radius: 10px;
  margin-right: 90px;
  -webkit-transition: 1s;
  transition: 1s;
}
.section2 .textAbout2 {
  height: 550px;
  position: relative;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .textAbout2 p {
  margin: 20px;
  color: rgb(104, 98, 98);
  line-height: 35px;
  text-align: center;
  padding: 30px;
  font-size: calc(10px + 1vw);
}

main {
  margin-bottom: 150px;
}

.newsletter {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 221, 208, 0.829)), to(rgba(162, 150, 112, 0.8))), url(./img/IMG20230722074502.jpg);
  background-image: linear-gradient(rgba(217, 221, 208, 0.829), rgba(162, 150, 112, 0.8)), url(./img/IMG20230722074502.jpg);
  background-position: center;
  background-size: cover;
  color: #080808;
  padding: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 200px;
}
.newsletter .newsletterContent .blockContent {
  padding: 10px 0 10px 0;
}
.newsletter .newsletterContent .blockContent p {
  font-size: calc(8px + 0.6vw);
}
.newsletter .newsletterContent .blockContent h2 {
  font-size: calc(10px + 1.8vw);
  font-weight: normal;
}
.newsletter .newsletterContent .newsletterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter .newsletterContent .newsletterForm .checkbox {
  padding-bottom: 0.8%;
}
.newsletter .newsletterContent #email2 {
  width: 260px;
  color: #000000;
}

main {
  top: 150px;
  position: relative;
}
main .afterHeader {
  height: 1.5vh;
  background: rgb(46, 104, 128);
}
main .mentionsLegales {
  height: 61vh;
  text-align: center;
  margin: 50px auto 50px;
}
main .mentionsLegales .mentionsLegalesContainer {
  display: inline-block;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 50px;
  padding: 20px;
  width: 70vh;
  border: 1px solid rgb(226, 220, 220);
  line-height: 25px;
  font-size: 15px;
}
main .mentionsLegales .mentionsLegalesContainer span {
  font-weight: 600;
}

main {
  top: 150px;
  position: relative;
}
main .afterHeader {
  height: 1.5vh;
  background: rgb(46, 104, 128);
}
main .politique {
  height: 320vh;
  text-align: center;
  margin: 50px auto 50px;
}
main .politique .politiqueContainer {
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  padding: 20px;
  width: 120vh;
  border: 1px solid rgb(226, 220, 220);
  line-height: 25px;
  font-size: 10px;
}
main .politique .politiqueContainer span {
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */